.umekobu-loader {
  display: inline-block;
  background-image: url("../../../../public/res/svg/umekobu-loader/01.gif");
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  &--normal {
    background-size: contain;
    width: 240px;
    height: 240px;
  }
  &--small {
    width: 28px;
    height: 28px;
  }
}